html {
  height: 100%;
  background-color: rgb(12, 12, 12);
}

body {
  height: 100%;
  background-color: rgb(12, 12, 12);
  position: relative;
}

main {
  /* position: relative; */
  /* min-height: calc (100vh - 62.39px − 110px); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  background-color: black;
  height: 12%;
}

.navbar_item a {
  display: block;
  text-align: center;
  color: white;
  padding: 14px, 16px;
  text-decoration: none;
  background-color: black;
}

#navbar_logo {
  color: white;
  width: 100px;
  height: 100px;
  font-size: 30px;
  background: radial-gradient(
    30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.imgs {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 200px;
  width: 100%;
  margin-top: 20px;
}

.container {
  width: 18%;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
}

.youtube {
  padding: 0%;
  width: 3%;
  color: black;
}
.facebook {
  padding: 0%;
  width: 3%;
  text-decoration: none;
  color: black;
}
.linkedin {
  padding: 0%;
  width: 3%;
  text-decoration: none;
  color: black;
}
.instagram {
  padding: 0%;
  width: 3%;
  text-decoration: none;
  color: black;
}

.twitter {
  padding: 0%;
  width: 3%;
  text-decoration: none;
  color: black;
}

#footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  list-style-type: none;
  height: 110px;
  margin-top: 5%;
  text-align: center;
  bottom: 0%;
}

#footer a {
  text-align: center;
}

.media-btn img {
  transition: all 1s;
}

.media-btn img:hover {
  transform: scale(2);
}
